name = "moontv"
compatibility_date = "2025-06-28"

# 指定 Pages 产物目录，供 `wrangler pages dev` 本地预览使用
pages_build_output_dir = ".vercel/output/static"

# 开启 Node.js API 兼容层（next-on-pages 已自动注入所需 polyfill）
compatibility_flags = ["nodejs_compat"] 

[[d1_databases]]
binding = "DB"                  # IMPORTANT: must match what the code expects (usually DB)
database_name = "moontv"         # your D1 database name in Cloudflare
database_id = "2e8382e9-bb25-40be-8265-5cc0923267c2"  # from Cloudflare dashboard

[vars]
NEXT_PUBLIC_STORAGE_TYPE = "d1"
NEXT_PUBLIC_ENABLE_REGISTER = "true"
USERNAME = "admin"
PASSWORD = "admin"
